# MacOS Desktop Services Store
.DS_Store

# Exclude vocabulary because it comes as a package from Vale
styles/**/*.*
# Local vocabulary overrides should not be excluded
!styles/config/vocabularies/my/*.*

site
